* {
  margin: 0px;
  padding: 0px;
}

/* p {
  margin: 15px 0px;
} */
.container {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product {
  font-family: sans-serif;
  border: 4.5px solid black;
  line-height: normal;
}

.product-name {
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(200, 200, 200);
  padding: 10px 15px;
  margin-top: 0px;
}

.price {
  font-size: 25px;
  margin-top: 0px;
}

.shipping {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: rgb(173, 173, 173);
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 18px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-detail {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  /* line-height: 30px; */
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: #000;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
